/*服务流程*/
.img_bg {
    min-width: 1200px;
}

.home-title {
    min-width: 1200px;
    height: 54px;
    margin: 80px auto;
    background: url("../images/title_bg.png") no-repeat center;
    text-align: center;
}

.home-title-ch {
    font-size: 26px;
    font-family: "微软雅黑 Light";
    letter-spacing: 2px;
    color: rgb(61, 42, 2);
}

.home-title-en {
    color: #8d6b22;
}

.fuwu_six {
    width: 1200px;
    height: 600px;
    margin: auto;
}

.d_fw {
    background: rgba(82, 83, 86, 0.5);
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 0;
    position: absolute;
}

.fuwu_six ul li {
    float: left;
    margin-left: 100px;
    margin-top: 60px;
}

