/*联系我们*/
.img_bg {
    min-width: 1200px;
}

.home-title {
    min-width: 1200px;
    height: 54px;
    margin: 80px auto;
    background: url("../images/title_bg.png") no-repeat center;
    text-align: center;
}

.home-title-ch {
    font-size: 26px;
    font-family: "微软雅黑 Light";
    letter-spacing: 2px;
    color: rgb(61, 42, 2);
}

.home-title-en {
    color: #8d6b22;
}

.intxt {
    width: 400px;
    height: 30px;
    margin-top: 10px;
}

.zixun {
    width: 400px;
    height: 80px;
    margin-top: 10px;
    float: left;
}

.tijiao {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.online_list {
    padding-top: 50px;
}

.d_form {
    width: 500px;
    height: 400px;
    margin: auto;
    background-size: 100% 100%;
}